body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: ivory;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    display: flex;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #cd0514;
}

/* Navigation Menu */
.navbar {
    background: white;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding:10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    margin: 0 10px;
    background: #007bff;
    transition: background o.3s ease;
}